{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'ImageSearch/css/search.css' %}" rel="stylesheet"/>
    <title>以图搜图</title>
</head>
<body>
	<div class="container">
		<div class="col">
			<form class="form-search" method="post" action="/search/" enctype="multipart/form-data">
				{% csrf_token %}
				<h2 class="text-center">以图搜图</h2>
				<div class="flex-container">
			    	<div class="form-group">
			        	<label for="inputImage" class="col-sm-10 control-label">上传图片</label>
			        	<div class="col-sm-10">
			            	<input type="file" accept="image/*" name="uploadImage" id="inputImage">
			        	</div>
			        
			    	</div>
			    	<div class="form-group">　　　　
			        	<button type="submit" class="btn btn-danger">确定</button>
			    	</div>
				</div>
			</form>
		</div>
	</div>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>